.header {
    position: fixed;
    top: 0;
    left: 0; 
    right: 0;
    z-index: 100;
    background-color: white;
    border-bottom: 0.5px solid;
    border-color: grey; 
    padding: 1rem 0.5rem;
    height: 5rem;
}